/* //// BIG CONTAINER 

/// 2 DIV 
/// RIGHT DIV THE BIGGER 50% WIDTH 
/// LEFT DIV 50% POSITION FIXED TOP 0 LEFT 0  */

.service-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.service-left-inner {
  flex: 1 1 0 50%;
  width: 100%;
}
.service-left-title {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Arial Narrow Bold", sans-serif;
}
.service-left-average {
  display: flex;
  flex-wrap: wrap;
}
.service-left-h6 {
  display: flex;
  margin-left: 3rem;
  margin-right: -2rem;
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Arial Narrow Bold", sans-serif;
}
.service-left-h6-inner {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Arial Narrow Bold", sans-serif;
}

.service-left-image-container {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  padding: 2rem;
  background-color: #f5f5f5;
}
.service-left-image {
  width: auto;
  height: 30rem;
}
.service-left-description-container {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-line;
}
.service-left-description {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 3rem;
  color: #6f7277;
  font-family: Helvetica, Arial, sans-serif;
}

/* //////////////////////RIGHT ///////////////////// */
.service-right-inner {
  flex: 0 1 0 50%;
  width: 100%;
  margin-bottom: 5rem;
  align-self: center;
}
.checkout-container-right {
  position: relative;
  margin: 8rem 2rem 2rem 2rem;
  padding: 8rem 10rem 8rem 10rem;
  border: 2px solid #f0ecec;
}
.checkout-title-right {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-weight: bold;
  font-family: "Arial Narrow Bold", sans-serif;
}
.checkout-price-right {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;

  font-family: "Arial Narrow Bold", sans-serif;
}

.checkout-button-right {
  position: absolute;
  background-color: #5abb7a;

  color: white;
  transition: ease 0.2s;
  border-radius: 5px;
  left: 0;
  right: 0;
  width: 60%;
  height: 20%;

  margin: auto;

  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.checkout-button-right:hover {
  background-color: #4da169;
}
.contact-seller-container-right {
  position: relative;
  margin: 0rem 2rem 1rem 2rem;
  padding: 3rem 1rem 2rem 1rem;
  background-color: #f5f5f5;
}
.contact-seller-button-right {
  position: absolute;
  background-color: white;
  color: #7a7d84;
  transition: ease 0.2s;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  width: 60%;
  height: 65%;
  margin: 0.9rem auto auto auto;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-seller-button-right:hover {
  background-color: #7a7d84;
  color: white;
}

.service-comment-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.service-comment-section {
  flex: 60%;

  margin: 1rem;
  padding: 1rem;
  width: auto;
}
.service-comment-username {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 1rem;
}

.inner-post-comment {
  flex: 40%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  padding: 2rem;
}
.service-star-container {
  flex: 50%;

  height: 15%;
  width: 50%;
}
.inner-service-textarea {
  position: relative;
  display: flex;

  margin: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 50%;
  height: 100%;
}
.service-textarea {
  flex: 50%;
  flex: 1;
  width: 1rem;
  height: 10rem;
  padding: 1rem;
}

.service-comment-button {
  position: absolute;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  width: 10%;
  height: 10%;
  right: 0;
  bottom: 0;
  background-color: #5abb7a;
  color: white;
  transition: ease 0.2s;
  border-radius: 5px;
  border: none;
}
.service-comment-button:hover {
  background-color: #4da169;
}

@media screen and (max-width: 768px) {
  .service-right-inner {
    flex: 50%;
  }
  .service-left-inner {
    flex: 50%;
  }
}
